*{
    font-family: Arial, Helvetica, sans-serif;
}

nav div ul{     
    list-style-type: none;
    text-align: right; 
    padding: 0;
    margin: 0;
  }
  
li {
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    vertical-align: middle;
  }

a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    position: relative;
    padding-top: 200px;
}

#search{
    width: 584px;
    border-radius: 24px;
    height: 44px;
    border: 1px solid lightgray;
    padding-left: 40px;
    background-color: transparent;
    margin: 30px;
    padding-right:10px;
    font-size: 16px;
    vertical-align: top;
}
#search:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,0.22);
}

#search:focus{
    outline: none;
}
form div span{
    color: rgba(0,0,0,0.47);
    position: absolute;
    padding: 40px 45px;
    font-size: 10px;
}

.profile{
    border-radius: 50%;
}
.default-search{
    background-color: #f8f9fa;
    color: #3c4043;
    padding: 10px 18px;
    font-size: 14px;
    text-align: center;
    margin: 11px 4px;
    border-radius: 6px;
}
.optional-search{
    background-color: #f8f9fa;
    color: #3c4043;
    padding: 10px 18px;
    font-size: 14px;
    text-align: center;
    margin: 11px 4px;
    border-radius: 6px;
}
.location-tag{
    background-color: #f3f3f3;
    position: absolute;
    bottom: 43;
    left: 0;
    right: 0;
    padding: 0 33px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    text-align: left;
    z-index: 1;
    color: rgba(0,0,0,0.55)
}
footer{
    background-color: #f3f3f3;
    position: absolute;
    padding: 12px 20px;
    left: 0;
    right: 0;
    bottom: 0;
}

.alignright{
    float: right;
}
.alignright a{
    padding: 13px;
    font-size: 15px;
    color:rgba(0,0,0,0.55)
}

.alignleft {
    float: left;
}

.alignleft a{
    padding: 13px;
    font-size: 15px;
    color: rgba(0,0,0,0.55)
}